<footer class=" container text-center text-white cajafooter" >
  <div class="  ">
   <section class="  mb divsection" >
    <a class="btn btn-link btn-floating text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-facebook-f"></i></a>
    <a class="btn btn-link btn-floating text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-twitter"></i></a>
    <a class="btn btn-link btn-floating text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-google"></i></a>
    <a class="btn btn-link btn-floating text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-instagram"></i></a>
    <a class="btn btn-link btn-floating text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-linkedin"></i></a>
    <a class="btn btn-link btn-floating text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-github"></i></a>
   </section>
  </div>
  <div class="text-center text-dark p-3 divcopyright" >
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
