<div class="proyectos container-sm  redaccion" id="proyectoss">
  <h2 style="display:inline">Proyectos</h2>
  <div style="text-align:center" id="segundo" >
      <i type="button" class="bi bi-plus-circle botonplus" onclick="clonar('clonarproy',5)"></i>
  </div>

  <div class="parrafoseditables" id="demo4" *ngFor="let proyecto of miproyecto" >
      <button onclick="borrar(this.parentNode.id)" class="bi bi-trash rounded float-end basurero"  ></button>
        Titulo:<p  class="titulo">{{proyecto.title}} </p>
        Descripcion:<p class="fecha descripcion">{{proyecto.description}} </p>
        Link:<p class=""> {{proyecto.link}}</p>
        <p class="fecha" >{{proyecto.start}}</p>
        -<p class="fecha">{{proyecto.end}}</p>
  </div>

  <div  id="clonarproy" style="display:none" >
      <button onclick="borrar(this.parentNode.id)" class="bi bi-trash rounded float-end basurero" id="borrar_educacion" ></button>
      <button type="button" onclick="editar(this.nextElementSibling.id)"  class="bi bi-pencil rounded float-end botonera"  ></button>

      <div id="inputproyecto" class="inputeditable">
          <button onclick="guardar(this.parentNode.id,5)" type="button"   class="bi bi-clipboard-check rounded float-end botonera" ></button>
          <input type="text" placeholder="Nombre/Titulo">
          <input type="text" class="descexp" placeholder="Descripcion" >
          <input  type="text" placeholder="Link">
          <input type="text" class="inputfecha" placeholder="dd/mm/aaaa">
          <input type="text" class="inputfecha" placeholder="dd/mm/aaaa">

      </div>

      <div id="pproyecto" class="parrafoseditables" style="display:none">
            Titulo:<p class="titulo"></p>
            Descripcion:<p class=" descripcion"></p>
            Link: <p class="link"></p>
            <p class="fecha"></p>
            -<p class="fecha"></p>
      </div>
  </div>
</div>

