

body{
    background-color:  #cecbf350; 
    border:2px solid rgb(12, 10, 0);
    background: radial-gradient(#58b46780, #64faff7e);
   padding: 5px 5px;
   border-radius: 15px;}
/*Si a box sizing le das border box eso asegura que todo quede contenido dentro de la caja contenedora del elemento*/
   *{box-sizing: border-box;}

.colorfondo{
   background-image:url(https://image.shutterstock.com/image-illustration/medical-health-blue-green-cross-260nw-1747319153.jpg) ;
   background-repeat: no-repeat;
   background-size: 300vh;
      border-radius: 15px;
   padding-bottom: 5px;
padding-top: 10px;
object-fit: fill;
}


.modal-content, .modal-dialog{
   background: radial-gradient(#58b46780, #64faff7e);
   border: 1px solid  #d2b4de ;
   max-width: 100%; 
   word-wrap: break-word;
   overflow: auto;
   padding: 5px;
   border-radius: 15px;
   }
  
   #ip_inicial{ border-radius: 15px;}
   
.presentacion{font-family: URW Chancery L, cursive;
}

.editFotoPerfil i{
transform: translate(120px, -40px);
font-size: 30px;
color: rgb(159, 158, 165);
opacity: 1;}

.editFotoPerfil input {
   display: none;}

#id_camera{display: none;}

   
.Email form{
   padding: 1px;
   margin: 5px;}

 
      
.fa-pencil {float: right;}

.divPresentacion{
   border-radius: 15px;
   max-width: 100%; 
   overflow: auto;}

.redaccion, .nuevo, .cajafooter {
   background: radial-gradient(#58b46780, #64faff7e);
   border: 2px solid  #d2b4de ;
   border-radius: 15px;
   max-width: 100%; 
   word-wrap: break-word;
   overflow: auto;
   padding: 5px;
   margin: 10px}

   #Edproyectos{display: none;}

.boton_foo{margin: 5px;}

.botonera, .nuevo .botonera{
   color:rgb(76, 0, 255);
background-color: #716fe969 ;
opacity: 0.7;
border-radius: 50%;
display: inline;}

.basurero, .nuevo .basurero{color:rgb(248, 6, 6);
   background-color: #716fe969 ;
   opacity: 0.7;
   border-radius: 50%;
   display: inline;
   }

   

 #inputText{
   border-radius: 15px;
   height: 80px;}




.progress{ margin: 5px;}



.divsection a{font-size: 100%;}
.divcopyright a{font-size: 100%;}
     /* .divsection {background-color: blue; display: inline-flex; } */
    /* .divcopyright {background-color: red;display: inline-flex;   } */

textarea{  /*AUTOSIZE DE TEXTAREA*/
   overflow:hidden, scroll;
   padding:10px;
   width:100%;
   min-height: 70px;
   
   margin:20px auto;
   display:block;
   border-radius:10px;
   resize: none;}
   
   .cargo, .empresa, .desde, .hasta{ padding-left:10px;
    border:2px solid #55667775;
    border-radius: 15px;
    resize: none;}
   
   i {text-align:center}

      



 .redaccion textarea, #titulo, .nuevo textarea, #txtarea_presentacion, #escritura {border:2px solid #55667775;
border-radius: 15px;
resize: none;  }

 .escritura{border:2px solid #55667775;
   border-radius: 15px;
   resize: none;
width:100% }
