body{
    background-color:  #cecbf350; 
    border:2px solid rgb(12, 10, 0);
    font-family: URW Chancery L, cursive;
   padding: 5px 70px;
   border-radius: 15px;}


 
/*logos*/
contenedor1{
   
   max-width: 100%;
   padding: 0px 20px;}

.iconosa .social img{width: 30px;}


.redaccion{padding: 10px;
margin: 10px;}
   
/* CASILLA DE EMAIL*/         

.Email form{
  
   background-color:red;
   padding: 10px;
   margin: 20px;}


 #form {
   background-color:blue;
   text-align: center;
   width: 100%;
   padding-top: 5px;
   border-radius: 15px;
}
      
.fa-pencil {float: right;}

#aside,footer, #section {
   border:1px solid rgb(109, 88, 202);}

.redaccion{
   background-color:   #716fe969 ;
   border: 2px solid  #d2b4de ;
   border-radius: 15px;
   max-width: 100%; 
   word-wrap: break-word;
   overflow: auto;}

  textarea{  /*AUTOSIZE DE TEXTAREA*/
   overflow:hidden, scroll;
   padding:15px;
   width:100%;
   min-height: 70px;
   
   margin:20px auto;
   display:block;
   border-radius:10px;
   border:2px solid #556677;
 }


