
         <div class="educacion container redaccion " >
          <h2 style=" display:inline">Educación</h2>

          <!-- <button onclick="editar_guardar('texto_a_modificar3','idtextarea3')" class="bi bi-pencil botonera"  ></button> -->
          <button onclick="borrar(this.id)" class="bi bi-trash rounded float-end basurero" id="borrar_educacion" ></button>

             <button type="button" onclick="cambiarIp(this.nextElementSibling.id)" class="bi bi-pencil botonera"  id="Modal1" data-bs-toggle="modal" data-bs-target="#exampleModal">  </button>
          <p id="texto_a_modificar3">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

             <textarea type="text" class="form-control" id="idtextarea3" style="display:none;"> </textarea>
        </div>
