<div class="container-sm " >
  <div class="row justify-content-between contenedor1 "  >
      <div class="col-6 col-sm-2 iconos align-self-center"  >
          <img  src="./assets/APLogo-20-20.png"  alt="foto de cabecera"   style="max-width: 100%;"  >
      </div>

      <div class="col-6 iconos align-self-center"   >
          <button type="button" id="botonLogin" class="btn btn-dark rounded float-end"  onclick="login()">
              <i class="bi bi-person-circle">LOGIN</i>
          </button>
          <button type="button" id="botonLogout" class="btn btn-dark rounded float-end" style="display: none;"  onclick="logout()">
              <i class="bi bi-key">LOGUOT</i>
          </button>
      </div>
  </div>
</div>
