<div class="skill container-sm  redaccion" id="skill">
  <h2 style=" display:inline">Skill</h2>
  <div style="text-align:center" id="segundo" >
      <i type="button" class="bi bi-plus-circle botonplus" onclick="habilitarskill()"></i>
  </div>

  <div id="input_skill"  style=" display:none" >
  <button onclick="borrarskill()" class="bi bi-trash rounded float-end basurero" id="borrar_educacion" ></button>
  <button type="button" onclick="skill()" class="bi bi-clipboard-check rounded float-end botonera"  >  </button>

  <div class="tablaskill   ">
      <div >
          <input id="skill1" type="text" value="empatia" placeholder="skill 1">
          <input  type="number" class="inputfecha" id="Skill1" max="100"  maxlength="2" value="10"
          oninput="javascript:if (this.value.length > this.maxLength&&this.value>100||this.value<0){
          alert('Fuera del limite 0 - 100%');this.value = this.value.slice(0, this.maxLength)} " >%
      </div>
      <div>
          <input id="skill2" type="text" value="compañerismo" placeholder="skill 2">
          <input type="number" class="inputfecha" id="Skill2" max="100"  maxlength="2" value="25"
          oninput="javascript:if (this.value.length > this.maxLength&&this.value>100||this.value<0){
          alert('Fuera del limite 0 - 100%');this.value = this.value.slice(0, this.maxLength)} " > %
      </div>
      <div>
          <input id="skill3" type="text" value="simpatia" placeholder="skill 3">
          <input type="number" class="inputfecha" id="Skill3" max="100"  maxlength="2" value="50"
          oninput="javascript:if (this.value.length > this.maxLength&&this.value>100||this.value<0){
          alert('Fuera del limite 0 - 100%');this.value = this.value.slice(0, this.maxLength)} " >%
      </div>
      <div>
          <input id="skill4" type="text" value="colaboracion" placeholder="skill 4">
          <input type="number" class="inputfecha" id="Skill4" max="100"  maxlength="2" value="75"
          oninput="javascript:if (this.value.length > this.maxLength&&this.value>100||this.value<0){
          alert('Fuera del limite 0 - 100%');this.value = this.value.slice(0, this.maxLength)} " >%
      </div>
</div>
</div>

<div id="output_skill" style="display:none">
  <p id="id_pskill1">LIDERAZGO</p>
  <div class="progress ">
      <div id="id_skill1" class="progress-bar bg-success" role="progressbar"  style="width: 50%"  aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <p id="id_pskill2">COMPAÑERISMO</p>
  <div class="progress">
      <div id="id_skill2" class="progress-bar bg-info" role="progressbar" style="width: 50%"  aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <p id="id_pskill3">CREATIVIDAD</p>
  <div  class="progress">
      <div id="id_skill3" class="progress-bar bg-warning" role="progressbar" style="width: 75%"  aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <p id="id_pskill4">ADAPTACION</p>
  <div class="progress">
      <div id="id_skill4" class="progress-bar bg-danger" role="progressbar" style="width: 100%"  aria-valuemin="0" aria-valuemax="100"> </div>
</div>
</div>
</div>
