<div class="container Email" id="bodyMail" >
  <div class="row justify-content-center">
    <div class="col col-sm-4 ">
      <form id="formularioEmail" style="display: none; align-self: center;" >
        <div>
           <input type="email" class="form-control"  placeholder="Ingrese su Email" style="margin-bottom:4px">
        </div>
        <div >
           <input type="password" class="form-control"  placeholder="Ingrese su Contraseña" style="margin-bottom:4px">
        </div>
        <div style="display: flex; justify-content: center;">
           <button type="submit" class="btn btn-primary"  >ENVIAR  </button>
           <button type="button" onclick="habilitar_edicion()" class="btn btn-secondary" value="off" id="onoff" >Editar  </button>
        </div>
       </form>
     </div>
  </div>
</div>
