<div  class="acerca-de container redaccion "  >
  <h2 style=" display:inline"  >Acerca de mi </h2>

 <!-- <button onclick="editar_guardar('texto_a_modificar1','idtextarea1')" class="bi bi-pencil botonera"  ></button> -->
 <button onclick="borrar(this.id)" class="bi bi-trash rounded float-end basurero" id="borrar_acerca_de" ></button>
 <button type="button" onclick="cambiarIp(this.nextElementSibling.id)" class=" bi bi-pencil botonera"  id="Modal1" data-bs-toggle="modal" data-bs-target="#exampleModal">  </button>


 <p id="texto_a_modificar1" >Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

 <textarea type="text"  class="form-control" id="idtextarea1" style="display:none;"> </textarea>
</div>
