<div class="experiencia container redaccion " >
  <h2 style=" display:inline">Experiencia </h2>

  <!-- <button onclick="editar_guardar('texto_a_modificar2','idtextarea2')" class="bi bi-pencil botonera"  ></button> -->
  <button onclick="borrar(this.id)" class="bi bi-trash rounded float-end basurero" id="borrar_experiencia" ></button>

     <button type="button" onclick="cambiarIp(this.nextElementSibling.id)" class="bi bi-pencil botonera"  id="Modal1" data-bs-toggle="modal" data-bs-target="#exampleModal">  </button>


    <p id="texto_a_modificar2">Sanatorio Esperanza </p>
     <p><time>2020</time>-<time>2021</time></p>

     <textarea type="text" class="form-control" id="idtextarea2" style="display:none;"> </textarea>

  <button onclick="borrar(this.id)" class="bi bi-trash rounded float-end basurero" id="borrar_experiencia" ></button>

     <button type="button" onclick="cambiarIp(this.nextElementSibling.id)" class="bi bi-pencil botonera"  id="Modal1" data-bs-toggle="modal" data-bs-target="#exampleModal">  </button>
<span>
  <p  id="texto_a_modificar2">Farmacia de la Plaza </p>
  <p><time>2019</time>-<time>2020</time></p>

</span>


     <textarea type="text" class="form-control" id="idtextarea2" style="display:none;"> </textarea>
</div>
