
<app-header></app-header>
<app-acerca-de></app-acerca-de>
<app-educacion></app-educacion>
<app-experiencia></app-experiencia>
<app-skill></app-skill>
<app-proyectos></app-proyectos>
<app-footer></app-footer>
         <!-- <div class="proyectos container redaccion" id="proyectoss">

            <button onclick="editar_guardar('texto_a_modificar5','idtextarea5')" class="bi bi-pencil botonera"  ><span id=""></span></button>

            <h2 style=" display:inline">Proyectos</h2>
            <div id="texto_a_modificar5" >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <textarea type="text" id="idtextarea5" style="display:none;"> </textarea>

         </div> -->








